* {
    padding: 0;
    margin: 0;
}

body {
    display: inline-block;
    display: flex;
}

.pressed {
    transform: scale(1.1);
    border-color: #f4f4f4;
    box-shadow: 0 0 1rem #7e7e7e;
}

.calculator {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 75vh;
    padding: 30px;
    background-color: lightslategrey;
    align-items: stretch;
}

#display {
background-color: lightgrey;
outline: auto;
text-align: center;
padding: 3px;
margin-bottom: 22px;
text-align:right;
font-size: 80px;
flex: 1;
}

.button {
    background-color: lightgrey;
    outline: auto;
    text-align: center;
    padding: 5px;
    transition: all .07s ease;
    font-size: 35px;
}

#firstRow {
    display: flex;
    gap: 20px;
    padding-bottom: 15px;
    flex: 1;

}

.firstRow {
    flex-grow: 1;
    gap: 20px;
}

.firstRow.empty {
    flex-grow: 4;
    gap: 20px;
}

#secondRow {
    display: flex;
    gap: 20px;
    padding-bottom: 15px;
    flex: 1;
}
.secondRow {
    flex: 1;
}

#thirdRow {
    display: flex;
    gap: 20px;
    padding-bottom: 15px;
    flex: 1;
}

.thirdRow {
    flex: 1;
}

#fourthRow {
    display: flex;
    gap: 20px;
    padding-bottom: 15px;
    flex: 1;
}

.fourthRow {
    flex: 1;
}

#fifthRow {
    display: flex;
    gap: 20px;
    padding-bottom: 15px;
    flex: 1;
}
.fifthRow {
    flex: 1;
    flex: 1;
}